*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: Cambria;
}

body{
    margin: 0;
}

nav{
    background-color: #302f2f;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a:visited{
    text-decoration: none;
}

.nav-element{
    display: inline-block;
    color: white;
    margin: 15px 5px 15px 5px;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.game-icon{
    color: white; 
    margin-left: 20px; 
    font-size: 1.2em; 
    margin-right: 10px
}

.search-container{
    float: right;
    margin-top: 12px;
    margin-right: 16px;
}

nav input{
    padding: 10px;
    font-size: 15px;
    border: none;
}

nav .search-container button{
    float: left;
    padding: 0.5em;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.page-grid{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 990px 1fr;
    grid-template-areas: ". container ." ". footer .";
}

.container{
    grid-area: container;
    padding: 30px 20px;
}

.footer{
    grid-area: footer;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.icon{
    font-size: 1.5em;
    color: rgb(61, 61, 61);
    padding: 5px;
}

.game-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-list{
    width: calc(33% - 10px);
    margin-bottom: 10px;
}

@media (max-width: 990px){
    .page-grid {
        display: block;
    }
    .game-list{
        width: calc(50% - 15px);
    }
}

@media (max-width: 768px){
    nav{
        flex-wrap: wrap;
    }
    .nav-element{
        width: 100%;
    }
    .game-icon{
        margin-left: 0px;
    }
    .game-list{
        width: 100%;
    }
}

ul{
   list-style-type: none;
}

li{
    padding: 15px;
    border-bottom: 1px solid #302f2f49;
    word-wrap: break-word;
    display: flex;
    width: 100%;
    height: 100%;
}

li a{
    text-decoration: none;
    color: rgb(66, 101, 255);
}

.date{
    font-size: 0.8em;
}

.small-image{
    width: 45px;
    height: 60px;
}

.list-item p{
    padding-left: 15px;
    padding-bottom: 5px;
}